
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css");
@import './style.css';
@import './mobile.css';

/* colors */
:root{
    --blue:#45b3cc;
    --gray900:#191919;
    --gray800: #2F2A2A;
    --black:#020403;
    --gray:#555;
    --gray100:#cacaca;
    --green:#e8fbf5;
    --green900:#679da7;
    --red:#ce6f5b;
    --red900:#a6503f;
    --sky:#6a9ccd;
    --purple:#877cca;
    --bg:#fbf8f1;
    }
    body{
        background-color: #f6f6f6;
    }
button[disabled]{
    filter: grayscale(1);
    opacity: 0.5;
}


html{
    scroll-behavior: smooth;
}