/* mobile style */
@media (max-width: 992px) {
    body section.intro-body {

        width: 340px;

    }

    .intro-body .intro-text .title-intro {
        font-size: 20px;

    }
    .intro-body .intro-text .text-intro {
        font-size: 10px;
    }
    .intro-body .powered-link {
        font-size: 12px;
        padding-inline: 12px;
        padding-block: 6px;
        margin-top: 0px;
    }
    .intro-body {
        padding-inline: 16px;


    }
    .intro-body .img-box img{
        width: 161px;
        height: 207px;
    }
    .factor-body {
        width: 340px;

    }
    .interpretation-body {
        margin-top: 32px;
    }
    .header-mobile .navbar-mobile a{
        text-decoration: none;
    }
    .header-mobile .navbar-mobile .nav-link{
        font-size: 12px;
        padding: 0;
        color: var(--gray);
        text-decoration: none;

    }
    .header-mobile{
        background-color: white;
        box-shadow: 0 -4px 24px 0 rgba(13, 13, 13, 0.04);
        padding-block: 32px;
        padding-inline: 10px;


    }
    .header-mobile .navbar-mobile .nav-link svg{
        margin-inline: 2px;
    }
    .header-mobile .navbar-mobile .nav-link:hover{
        color: var(--red900);
    }
    .header-mobile .navbar-mobile .nav-link.active{
        color: var(--red900);
    }
    .search-box .form-search {
        background-color: white;
        border-radius: 10px;
        box-shadow: 0 -4px 24px 0 rgba(13, 13, 13, 0.04);
        border: none;
        padding-inline: 10px;
        width: 70%;
      
    }
    .Camera-upload-body .img-box img {
        width: 244px;
        height: 209.532px;
       
    }
    .intro-body .intro-box {
        min-height: 150px;
    }
    .items div.icon-items img{
        width: 30px !important;
        height: 30px;
    }
    .items .content .caption1 {

        font-size: 14px;

    }
    .items .icon-items {
        border-radius: 18px;
        padding: 12px;
        min-width: 54px;
    }
    .export-body {
        border-radius: 0px;
        background: var(--gray100);
        width: 340px;
        margin-inline: unset;
        padding-inline: 32px;
        padding-block: 16px;
    }
    .export-body a {
        font-size: 16px;
    }
    .export-body .export {
        font-size: 16px;

    }
    .export-body .export img{
        height: 28px;
        width: 28px;
    }
    .export-body a  img{
        width: 23.385px;
        height: 24px;
    }
}