

/* camera */
section.Camera-upload-body {
    height: 100%;
    place-items: center;
}

.upload-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
    width: 340px;
    text-align: right;
    margin: auto;
    padding-top: 5%;


}
.head-upload{
    margin-block: 48px;
}
.upload-text-box{
    margin-inline: 16px;
}
.upload-text-box h1 {
    color: var(--black);
    font-weight: 500;

}

.upload-text-box .text-by {
    color: var(--gray);
    text-align: center;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    margin-top:16px;
}

.upload-text-box .text1 {
    color: var(--gray900);
    font-size: 16px;
    font-weight: 700;
}

.upload-text-box .text2 {
    color: var(--gray900);
    font-size: 13px;
    font-weight: 400;
    text-align: center;
}

form#form1  {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

form#form1 .btn-form {
    background-color: var(--blue);
    color: white;
    font-size: 16px;
    border-radius: 20px;
    border: none;
    margin-block: 20px;
    padding-inline: 32px;
    padding-block: 10px;
    width: 95%;

}

form#form1 .or-box {
    position: relative;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-inline: 45px;
    margin-block: 16px;
    color: var(--gray);


}

form#form1 .or-box::after {
    background-color: var(--gray100);
    height: 1px;
    position: absolute;
    content: " ";
    left: 0px;
    width: 45%;
    bottom: 7px;
}

form#form1 .or-box::before {
    background-color: var(--gray100);
    height: 1px;
    position: absolute;
    content: " ";
    right: 0px;
    width: 45%;
    bottom: 7px;
}

form#form1  .input-file {

    border-image: linear-gradient(#9d9d9d, #45b3cc) 30;
    border-width: 5px;
    border-style: solid;
    padding: 16px;
    border-radius: 15px;
    width: 75%;
    margin-bottom: 6px;
    text-align: center;
    border-radius: 50em;
    color: var(--gray);
    font-size: 16px;
    margin-top: 16px;
    cursor: pointer;

}

form#form1 .upload-camera {
    background-color: var(--green);
    border-radius: 20px;
    padding-inline: 32px;
    padding-block: 12px;
    width:100%;
    text-align: center;
    cursor: pointer;


}

form#form1 .upload-camera .file-box {
    border: 1px solid var(--gray900);
    background-color: white;
    color: var(--blue);

}

form#form1 .img-box {
    text-align: center;
}
.Camera-upload-body .img-box img{
    width: 569px;
    height: 488px;
}

form#form1 .input-file {
    color: var(--gray);
    display: flex;
    align-items: center;
    justify-content: center;
}

form#form1 .input-file svg {
    margin-inline: 5px;
}

.upload-camera .select-file {
    color: var(--blue);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 15px;
    white-space: nowrap;

}

.upload-camera .select-file svg {
    margin-inline: 5px;
}

/* Interpretation */
.intro-body {
    padding-inline: 32px;
    width: 700px;
    margin-inline: auto;
    background-color: var(--red);
    border-radius: 20px;
    z-index: 50;
    position: relative;
    margin-top: 170px;
  
}

.intro-body .intro-box{
    min-height: 280px;
}
.intro-body .intro-box .img-box{
    bottom: -16px;
    right: 0;
}
.intro-body .intro-text .title-intro {
    font-size: 40px;
    font-style: normal;
    font-weight: 800;
    color:white;
}

.intro-body .intro-text .text-intro {
    color: white;
    font-size: 11px;
    font-weight: 700;
    margin-top: 10px;
}

.intro-body .powered-link {
    background-color: var(--red900);
    color: white;
    text-decoration: none;
    padding-inline: 16px;
    padding-block: 8px;
    border-radius: 10px;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    margin-top: 75px;
}

.items .content {
    margin-inline: 20px 4px;
}

.items .content .caption1 {
    color: var(--gray900);
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    min-width: 300px;

}

.items .content .caption2 {
    color: var(--gray100);
    font-size: 14px;
    font-style: normal;
    font-weight: 500;


}

.items .icon-items {
    color: whitesmoke;
    border-radius: 24px;
    padding: 12px;
    min-width: 45px;
    text-align: center;
}

.items .icon-items.bg1 {
    background-color: var(--green900);
}

.items .icon-items.bg2 {
    background-color: var(--sky);
}

.items .icon-items.bg3 {
    background-color: var(--purple);
}

.items .icon-items.bg4 {
    background-color: var(--red);
}

.factor-body {
    box-shadow: 0 -4px 24px 0 rgba(13, 13, 13, 0.04);
    border-radius: 15px;
    padding-inline: 16px;
    padding-block: 48px 16px;
    margin-inline: auto;
    margin-top: 53px;
    border-radius: 53.535px;
    background: rgba(199, 107, 87, 0.05);
   

}

.factor-body a {
    text-decoration: none;
}

.factor-body .down-btn {
    background-color: transparent;
    color: var(--gray900);
    border: none;
}

.accordion-body {
    max-width: 700px;
    margin-inline: auto;
    margin-block: 32px;

}

.accordion-body .accordion-button::after {
    display: none;


}

.detail-box ol {
    color: var(--gray);
}

.detail-box strong {
    color: var(--gray900);
    font-size: 16px;
}

.detail-box .detail {
    color: var(--gray);
    font-size: 13px;
}

.accordion-body .accordion-button:not(.collapsed) {
    color: var(--bs-accordion-active-color);
    background-color: transparent;
    box-shadow: none;
}

.accordion-body .accordion-item {
    border: 1px solid var(--gray);
    margin-bottom: 32px;
    border-radius: 15px;
    overflow: hidden;
}

.accordion-body .accordion-flush .accordion-item:first-child {
    border-top: 1px solid var(--gray);
}

.accordion-body .accordion-button:focus {
    z-index: 3;
    border-color: none;
    outline: 0;
    box-shadow: none;
}

/* header */

.header-box{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.header-box .navbar .navbar-nav .nav-link {
    color: var(--gray);

}
.header-box .navbar .navbar-nav .nav-link.active{
    color: var(--red900);
}

.header-box .navbar .navbar-nav .nav-link:hover {
    color: var(--red900);
}

.navbar .navbar-nav .nav-link svg {
    margin-inline: 5px;
}

.right-items .right-box .right-link {
    background-color: white;
    box-shadow: 0 -4px 24px 0 rgba(13, 13, 13, 0.04);
    padding-inline: 10px;
    padding-block: 8px;
    border-radius: 10px;
    color: var(--gray900);

}

.right-items .right-box .bell451::after {
    position: absolute;
    content: " ";
    top: 0;
    background-color: var(--red900);
    height: 10px;
    width: 10px;
    border-radius: 50%;
    right: 0;
}

.search-box .btn-search {
    background-color: white;
    box-shadow: 0 -4px 24px 0 rgba(13, 13, 13, 0.04);
    padding-inline: 10px;
    padding-block: 8px;
    border-radius: 10px;
    color: var(--gray900);
    border: none;
}

.search-box .form-search {
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 -4px 24px 0 rgba(13, 13, 13, 0.04);
    border: none;
    padding-inline: 10px;
    color: var(--gray900);
    font-size: 14px;

}
.search-box .form-search::placeholder{
    color: var(--gray800);
    font-size: 12px;
}

.search-box .form-search:focus {
    outline: none;
}
.export-body{
    border-radius: 57px;
    background: var(--gray100);
    width: 800px;
    margin-inline: auto;
    padding-inline: 32px;
    padding-block: 40px;

}
.export-body .export{
    background-color: transparent;
    color: var(--red900);
    font-size: 20px;
    font-style: normal;
    font-weight: 900;
    border: none;
}
.export-body a{
    text-decoration: none;
    color: var(--red900);
    font-style: normal;
    font-weight: 900;
    font-size: 20px;
}
/* footer */
.footer-body{
    background-color: var(--gray800);
    margin-top: 65px;
    padding-block:16px;


}
.footer-body .footer-link-box a{
    text-decoration: none;
    color: white;
    
}
.footer-body .footer-link-box svg{
    font-size: 40px;
}
.footer-body .copyright-box {
    color: white;
}
.footer-body .copyright-box img{
    margin-inline:20px;
}
.footer-body .copyright-box svg {
    margin-inline: 5px;
}


/*!
 * Hamburgers
 * @description Tasty CSS-animated hamburgers
 * @author Jonathan Suh @jonsuh
 * @site https://jonsuh.com/hamburgers
 * @link https://github.com/jonsuh/hamburgers
 */
/* hamburger */
/*
   * Elastic
   */
.hamburger {
    display: inline-block;
    cursor: pointer;
    -webkit-transition-property: opacity, -webkit-filter;
    transition-property: opacity, -webkit-filter;
    transition-property: opacity, filter;
    transition-property: opacity, filter, -webkit-filter;
    -webkit-transition-duration: 0.9s;
    transition-duration: 0.9s;
    -webkit-transition-timing-function: linear;
    transition-timing-function: linear;
    font: inherit;
    color: inherit;
    text-transform: none;
    background-color: transparent;
    border: 0;
    margin: 0;
    overflow: visible;
}

.hamburger:hover {
    opacity: 0.7;
}

.hamburger-box {
    width: 30px;
    height: 21px;
    display: inline-block;
    position: relative;
}

.hamburger-inner {
    display: block;
    top: 50%;
    margin-top: -1.5px;
}

.hamburger-inner,
.hamburger-inner::before,
.hamburger-inner::after {
    width: 30px;
    height: 3px;
    background-color: #444;
    border-radius: 10px;
    position: absolute;
    -webkit-transition-property: -webkit-transform;
    transition-property: -webkit-transform;
    transition-property: transform;
    transition-property: transform, -webkit-transform;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-timing-function: ease;
    transition-timing-function: ease;
}

.hamburger-inner::before,
.hamburger-inner::after {
    content: "";
    display: block;
}

.hamburger-inner::before {
    top: -9px;
}

.hamburger-inner::after {
    bottom: -9px;
}

.hamburger--elastic .hamburger-inner {
    top: 1.5px;
    -webkit-transition-duration: 0.45s;
    transition-duration: 0.45s;
    -webkit-transition-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55);
    transition-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.hamburger--elastic .hamburger-inner::before {
    top: 9px;
    -webkit-transition: opacity 0.43s 0.275s ease;
    transition: opacity 0.43s 0.275s ease;
}

.hamburger--elastic .hamburger-inner::after {
    top: 18px;
    -webkit-transition: -webkit-transform 0.4s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    transition: -webkit-transform 0.4s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    transition: transform 0.4s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    transition: transform 0.4s cubic-bezier(0.68, -0.55, 0.265, 1.55), -webkit-transform 0.4s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.hamburger--elastic.is-active .hamburger-inner {
    -webkit-transform: translate3d(0, 9px, 0) rotate(135deg);
    transform: translate3d(0, 9px, 0) rotate(135deg);
    -webkit-transition-delay: 0.075s;
    transition-delay: 0.075s;
}

.hamburger--elastic.is-active .hamburger-inner::before {
    -webkit-transition-delay: 0s;
    transition-delay: 0s;
    opacity: 0;
}

.hamburger--elastic.is-active .hamburger-inner::after {
    -webkit-transform: translate3d(0, -18px, 0) rotate(-270deg);
    transform: translate3d(0, -18px, 0) rotate(-270deg);
    -webkit-transition-delay: 0.075s;
    transition-delay: 0.075s;
}

.custom-navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-transition: all, 0.3s;
    transition: all, 0.3s;
    font-family: 'Baloo Paaji', cursive;
}

@media (prefers-reduced-motion: reduce) {
    .custom-navbar {
        -webkit-transition: none;
        transition: none;
    }
}

.custom-navbar .logo {
    font-size: calc(20px + (30 - 20) * ((100vw - 300px) / (1300 - 300)));
    text-decoration: none;
    color: #fff;
}

.custom-navbar .container {
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    min-height: 100px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-transition: all, 0.3s;
    transition: all, 0.3s;
}

@media (prefers-reduced-motion: reduce) {
    .custom-navbar .container {
        -webkit-transition: none;
        transition: none;
    }
}

.custom-navbar .hamburger {
    margin-left: 20px;
    padding-top: 5px;
}

.custom-navbar .hamburger .hamburger-inner,
.custom-navbar .hamburger .hamburger-inner::before,
.custom-navbar .hamburger .hamburger-inner::after {
    background:#CF6F5A;
}

.custom-navbar .nav {
    list-style-type: none;
    padding-left: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    margin: 0;
    margin-left: auto;
}

.custom-navbar .nav .item {
    margin: 0 10px;
}

.custom-navbar .nav .item .link {
    color: #6c757d;
    font-weight: 500;
    text-decoration: none;
}
.custom-navbar .nav .item .link svg{
    margin-inline: 5px;
}

.custom-navbar .nav .item .link:hover,
.custom-navbar .nav .item .link.active {
    color: #CF6F5A;
}

.custom-navbar.affix {
    background: #eaeaea;
    border-bottom: 1px solid rgba(222, 226, 230, 0.34);
}

.custom-navbar.affix .logo {
    color: #695aa6;
}

.custom-navbar.affix .container {
    min-height: 65px;
}

.custom-navbar.affix .nav .item .link {
    color: #6c757d;
}

.custom-navbar.affix .hamburger-inner,
.custom-navbar.affix .hamburger-inner::before,
.custom-navbar.affix .hamburger-inner::after {
    background: #6c757d;
}

@media (min-width: 768px) {
    .custom-navbar .nav .item {
        opacity: 0;
        visibility: hidden;
        -webkit-transform: translateY(-50px);
        -ms-transform: translateY(-50px);
        transform: translateY(-50px);
        transform: translateY(-50px);
    }

    .custom-navbar .nav .item:nth-child(9) {
        -webkit-transition: all, 0.1s;
        transition: all, 0.1s;
        -webkit-transition-delay: 0s;
        transition-delay: 0s;
    }
}

@media (min-width: 768px) and (prefers-reduced-motion: reduce) {
    .custom-navbar .nav .item:nth-child(9) {
        -webkit-transition: none;
        transition: none;
    }
}

@media (min-width: 768px) {
    .custom-navbar .nav .item:nth-child(8) {
        -webkit-transition: all, 0.2s;
        transition: all, 0.2s;
        -webkit-transition-delay: .05s;
        transition-delay: .05s;
    }
}

@media (min-width: 768px) and (prefers-reduced-motion: reduce) {
    .custom-navbar .nav .item:nth-child(8) {
        -webkit-transition: none;
        transition: none;
    }
}

@media (min-width: 768px) {
    .custom-navbar .nav .item:nth-child(7) {
        -webkit-transition: all, 0.3s;
        transition: all, 0.3s;
        -webkit-transition-delay: .1s;
        transition-delay: .1s;
    }
}

@media (min-width: 768px) and (prefers-reduced-motion: reduce) {
    .custom-navbar .nav .item:nth-child(7) {
        -webkit-transition: none;
        transition: none;
    }
}

@media (min-width: 768px) {
    .custom-navbar .nav .item:nth-child(6) {
        -webkit-transition: all, 0.4s;
        transition: all, 0.4s;
        -webkit-transition-delay: .15s;
        transition-delay: .15s;
    }
}

@media (min-width: 768px) and (prefers-reduced-motion: reduce) {
    .custom-navbar .nav .item:nth-child(6) {
        -webkit-transition: none;
        transition: none;
    }
}

@media (min-width: 768px) {
    .custom-navbar .nav .item:nth-child(5) {
        -webkit-transition: all, 0.5s;
        transition: all, 0.5s;
        -webkit-transition-delay: .2s;
        transition-delay: .2s;
    }
}

@media (min-width: 768px) and (prefers-reduced-motion: reduce) {
    .custom-navbar .nav .item:nth-child(5) {
        -webkit-transition: none;
        transition: none;
    }
}

@media (min-width: 768px) {
    .custom-navbar .nav .item:nth-child(4) {
        -webkit-transition: all, 0.6s;
        transition: all, 0.6s;
        -webkit-transition-delay: .25s;
        transition-delay: .25s;
    }
}

@media (min-width: 768px) and (prefers-reduced-motion: reduce) {
    .custom-navbar .nav .item:nth-child(4) {
        -webkit-transition: none;
        transition: none;
    }
}

@media (min-width: 768px) {
    .custom-navbar .nav .item:nth-child(3) {
        -webkit-transition: all, 0.7s;
        transition: all, 0.7s;
        -webkit-transition-delay: .3s;
        transition-delay: .3s;
    }
}

@media (min-width: 768px) and (prefers-reduced-motion: reduce) {
    .custom-navbar .nav .item:nth-child(3) {
        -webkit-transition: none;
        transition: none;
    }
}

@media (min-width: 768px) {
    .custom-navbar .nav .item:nth-child(2) {
        -webkit-transition: all, 0.8s;
        transition: all, 0.8s;
        -webkit-transition-delay: .35s;
        transition-delay: .35s;
    }
}

@media (min-width: 768px) and (prefers-reduced-motion: reduce) {
    .custom-navbar .nav .item:nth-child(2) {
        -webkit-transition: none;
        transition: none;
    }
}

@media (min-width: 768px) {
    .custom-navbar .nav .item:nth-child(1) {
        -webkit-transition: all, 0.9s;
        transition: all, 0.9s;
        -webkit-transition-delay: .4s;
        transition-delay: .4s;
    }
}

@media (min-width: 768px) and (prefers-reduced-motion: reduce) {
    .custom-navbar .nav .item:nth-child(1) {
        -webkit-transition: none;
        transition: none;
    }
}

@media (min-width: 768px) {
    .custom-navbar .nav.show .item {
        -webkit-transform: translateY(0);
        -ms-transform: translateY(0);
        transform: translateY(0);
        opacity: 1;
        visibility: visible;
    }
}

@media (max-width: 991.98px) {
    .custom-navbar .hamburger {
        margin-left: auto;
    }

    .custom-navbar .nav {
        position: absolute;
        top: calc(100% + 23px);
        left: 0;
        background: #fff;
        border-radius: 0 0 0 0;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -webkit-flex-direction: column;
        -ms-flex-direction: column;
        flex-direction: column;
        width: 100%;
        margin: auto;
        display: block;
        border-bottom: 1px solid #dee2e6;
        padding: 13px;
        opacity: 0;
        visibility: hidden;
        -webkit-transform: translateY(6px);
        -ms-transform: translateY(6px);
        transform: translateY(6px);
        -webkit-transition: all, 0.3s;
        transition: all, 0.3s;
    }
}

@media (max-width: 991.98px) and (prefers-reduced-motion: reduce) {
    .custom-navbar .nav {
        -webkit-transition: none;
        transition: none;
    }
}

@media (max-width: 991.98px) {
    .custom-navbar .show.nav,
        .custom-navbar .show.nav .nav{
        opacity: 1;
        visibility: visible;
        -webkit-transform: translateY(0);
        -ms-transform: translateY(0);
        transform: translateY(0);
    }
    .custom-navbar .show .top19{
        top: -20px;
    }

    .custom-navbar .nav .item .link {
        padding: 7px 12px;
        display: block;
        color: #6c757d;
    }
}
