

/* camera */
section.Camera-upload-body {
    height: 100%;
    display: grid;
    place-items: center;
}

.upload-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
    width: 340px;
    text-align: right;
    margin: auto;
    padding-top: 5%;


}

.upload-text-box h1 {
    color: var(--black);
    font-weight: 500;

}

.upload-text-box .text-by {
    color: var(--gray);
    text-align: center;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    margin-top:16px;
}

.upload-text-box .text1 {
    color: var(--gray900);
    font-size: 16px;
    font-weight: 700;
}

.upload-text-box .text2 {
    color: var(--gray900);
    font-size: 13px;
    font-weight: 400;
    text-align: center;
}

form#form1  {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

form#form1 .btn-form {
    background-color: var(--blue);
    color: white;
    font-size: 16px;
    border-radius: 20px;
    border: none;
    margin-block: 20px;
    padding-inline: 32px;
    padding-block: 10px;
    width: 95%;

}

form#form1 .or-box {
    position: relative;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-inline: 45px;
    margin-block: 16px;
    color: var(--gray);


}

form#form1 .or-box::after {
    background-color: var(--gray100);
    height: 1px;
    position: absolute;
    content: " ";
    left: 0px;
    width: 45%;
    bottom: 7px;
}

form#form1 .or-box::before {
    background-color: var(--gray100);
    height: 1px;
    position: absolute;
    content: " ";
    right: 0px;
    width: 45%;
    bottom: 7px;
}

form#form1  .input-file {

    border-image: linear-gradient(#9d9d9d, #45b3cc) 30;
    border-width: 5px;
    border-style: solid;
    padding: 16px;
    border-radius: 15px;
    width: 75%;
    margin-bottom: 6px;
    text-align: center;
    border-radius: 50em;
    color: var(--gray);
    font-size: 16px;
    margin-top: 16px;
    cursor: pointer;

}

form#form1 .upload-camera {
    background-color: var(--green);
    border-radius: 20px;
    padding-inline: 32px;
    padding-block: 12px;
    width:100%;
    text-align: center;
    cursor: pointer;


}

form#form1 .upload-camera .file-box {
    border: 1px solid var(--gray900);
    background-color: white;
    color: var(--blue);

}

form#form1 .img-box {
    text-align: center;
}

form#form1 .input-file {
    color: var(--gray);
    display: flex;
    align-items: center;
    justify-content: center;
}

form#form1 .input-file svg {
    margin-inline: 5px;
}

.upload-camera .select-file {
    color: var(--blue);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 15px;
    white-space: nowrap;

}

.upload-camera .select-file svg {
    margin-inline: 5px;
}

/* Interpretation */
.intro-body {
    padding-inline: 32px;
    width: 700px;
    margin-inline: auto;
    background-color: var(--red);
    border-radius: 20px;
    z-index: 50;
    position: relative;
  
}

.intro-body .intro-box{
    min-height: 280px;
}
.intro-body .intro-box .img-box{
    bottom: -16px;
    right: 0;
}
.intro-body .intro-text .title-intro {
    font-size: 40px;
    font-style: normal;
    font-weight: 800;
    color:white;
}

.intro-body .intro-text .text-intro {
    color: white;
    font-size: 11px;
    font-weight: 700;
    margin-top: 10px;
}

.intro-body .powered-link {
    background-color: var(--red900);
    color: white;
    text-decoration: none;
    padding-inline: 16px;
    padding-block: 8px;
    border-radius: 10px;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    margin-top: 75px;
}

.items .content {
    margin-inline: 20px 4px;
}

.items .content .caption1 {
    color: var(--gray900);
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    min-width: 300px;

}

.items .content .caption2 {
    color: var(--gray100);
    font-size: 14px;
    font-style: normal;
    font-weight: 500;


}

.items .icon-items {
    color: whitesmoke;
    border-radius: 24px;
    padding: 12px;
    min-width: 45px;
    text-align: center;
}

.items .icon-items.bg1 {
    background-color: var(--green900);
}

.items .icon-items.bg2 {
    background-color: var(--sky);
}

.items .icon-items.bg3 {
    background-color: var(--purple);
}

.items .icon-items.bg4 {
    background-color: var(--red);
}

.factor-body {
    box-shadow: 0 -4px 24px 0 rgba(13, 13, 13, 0.04);
    border-radius: 15px;
    padding-inline: 16px;
    padding-block: 48px 16px;
    margin-inline: auto;
    margin-top: 53px;
    border-radius: 53.535px;
    background: rgba(199, 107, 87, 0.05);
   

}

.factor-body a {
    text-decoration: none;
}

.factor-body .down-btn {
    background-color: transparent;
    color: var(--gray900);
    border: none;
}

.accordion-body {
    max-width: 700px;
    margin-inline: auto;
    margin-block: 32px;

}

.accordion-body .accordion-button::after {
    display: none;


}

.detail-box ol {
    color: var(--gray);
}

.detail-box strong {
    color: var(--gray900);
    font-size: 16px;
}

.detail-box .detail {
    color: var(--gray);
    font-size: 13px;
}

.accordion-body .accordion-button:not(.collapsed) {
    color: var(--bs-accordion-active-color);
    background-color: transparent;
    box-shadow: none;
}

.accordion-body .accordion-item {
    border: 1px solid var(--gray);
    margin-bottom: 32px;
    border-radius: 15px;
    overflow: hidden;
}

.accordion-body .accordion-flush .accordion-item:first-child {
    border-top: 1px solid var(--gray);
}

.accordion-body .accordion-button:focus {
    z-index: 3;
    border-color: none;
    outline: 0;
    box-shadow: none;
}

/* header */
.header-box .navbar .navbar-nav .nav-link {
    color: var(--gray);

}
.header-box .navbar .navbar-nav .nav-link.active{
    color: var(--red900);
}

.header-box .navbar .navbar-nav .nav-link:hover {
    color: var(--red900);
}

.navbar .navbar-nav .nav-link svg {
    margin-inline: 5px;
}

.right-items .right-box .right-link {
    background-color: white;
    box-shadow: 0 -4px 24px 0 rgba(13, 13, 13, 0.04);
    padding-inline: 10px;
    padding-block: 8px;
    border-radius: 10px;
    color: var(--gray900);

}

.right-items .right-box .bell451::after {
    position: absolute;
    content: " ";
    top: 0;
    background-color: var(--red900);
    height: 10px;
    width: 10px;
    border-radius: 50%;
    right: 0;
}

.search-box .btn-search {
    background-color: white;
    box-shadow: 0 -4px 24px 0 rgba(13, 13, 13, 0.04);
    padding-inline: 10px;
    padding-block: 8px;
    border-radius: 10px;
    color: var(--gray900);
    border: none;
}

.search-box .form-search {
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 -4px 24px 0 rgba(13, 13, 13, 0.04);
    border: none;
    padding-inline: 10px;
    color: var(--gray900);
    font-size: 14px;

}
.search-box .form-search::placeholder{
    color: var(--gray100);
    font-size: 12px;
}

.search-box .form-search:focus {
    outline: none;
}
.export-body{
    border-radius: 57px;
    background: var(--gray100);
    width: 800px;
    margin-inline: auto;
    padding-inline: 32px;
    padding-block: 40px;

}
.export-body .export{
    background-color: transparent;
    color: var(--red900);
    font-size: 20px;
    font-style: normal;
    font-weight: 900;
    border: none;
}
.export-body a{
    text-decoration: none;
    color: var(--red900);
    font-style: normal;
    font-weight: 900;
    font-size: 20px;
}
/* footer */
.footer-body{
    background-color: var(--gray800);
    margin-top: 65px;
    padding-block:16px;


}
.footer-body .footer-link-box a{
    text-decoration: none;
    color: white;
    
}
.footer-body .footer-link-box svg{
    font-size: 40px;
}
.footer-body .copyright-box {
    color: white;
}
.footer-body .copyright-box img{
    margin-inline:20px;
}
.footer-body .copyright-box svg {
    margin-inline: 5px;
}
